{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ReproHack Hub{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'images/reprohack_favicons/favicon.ico' %}">

    {% block css %}


    <!-- Your stuff: Third-party CSS libraries go here -->
      <link rel='stylesheet' href="{% static 'vendor/node_modules/bootstrap/dist/css/bootstrap.min.css'%}">
      <link rel='stylesheet' href="{% static 'vendor/node_modules/bootstrap-icons/font/bootstrap-icons.css'%}">
      <link rel='stylesheet' href="{% static 'vendor/node_modules/leaflet/dist/leaflet.css'%}">
      <link rel='stylesheet' href="{% static 'vendor/node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.css'%}">
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel='stylesheet' href="{% static 'vendor/css/owl.carousel.min.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/magnific-popup.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/font-awesome.min.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/themify-icons.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/nice-select.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/flaticon.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/gijgo.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/animate.css'%}">
    <link rel='stylesheet' href="{% static 'vendor/css/slicknav.css'%}">

    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/style.css'%}" rel='stylesheet'>

    {% endcompress %}
    {% endblock %}

  <script src="{% static 'vendor/node_modules/jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  </head>

  <body>
      {% include 'navbar.html' %}

{#    <div class="container">#}

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}


{#    </div>#}

    <!-- footer -->
    {% include 'footer.html' %}
    <!-- footer -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Bootstrap JS and its dependencies-->

      <script src="{% static 'vendor/node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{% static 'vendor/js/modernizr-3.5.0.min.js' %}"></script>
      <script src="{% static 'vendor/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'vendor/js/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'vendor/js/ajax-form.js' %}"></script>
{#      <script src="{% static 'vendor/js/waypoints.min.js' %}"></script>#}
      <script src="{% static 'vendor/js/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'vendor/js/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static 'vendor/js/scrollIt.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.scrollUp.min.js' %}"></script>
      <script src="{% static 'vendor/js/wow.min.js' %}"></script>
      <script src="{% static 'vendor/js/nice-select.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.slicknav.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'vendor/js/plugins.js' %}"></script>
      <script src="{% static 'vendor/js/gijgo.min.js' %}"></script>
      <script src="{% static 'vendor/node_modules/leaflet/dist/leaflet.js' %}"></script>
      <script src="{% static 'vendor/node_modules/leaflet.awesome-markers/dist/leaflet.awesome-markers.js' %}"></script>
      <script src="{% static 'vendor/node_modules/@yaireo/tagify/dist/tagify.min.js'%}"></script>
      <link rel="stylesheet" href="{% static 'vendor/node_modules/@yaireo/tagify/dist/tagify.css'%}">


      <!--contact js-->
      <script src="{% static 'vendor/js/contact.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.form.js' %}"></script>
      <script src="{% static 'vendor/js/jquery.validate.min.js' %}"></script>
      <script src="{% static 'vendor/js/mail-script.js' %}"></script>

      <script src="{% static 'js/main.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>
