{% load static i18n compress leaflet_tags  geojson_tags%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ReproHack Hub{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'images/reprohack_favicons/favicon.ico' %}">

    {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Your stuff: Third-party CSS libraries go here -->
    <link rel='stylesheet' href="{% static 'css/owl.carousel.min.css'%}">
    <link rel='stylesheet' href="{% static 'css/magnific-popup.css'%}">
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css'%}">
    <link rel='stylesheet' href="{% static 'css/themify-icons.css'%}">
    <link rel='stylesheet' href="{% static 'css/nice-select.css'%}">
    <link rel='stylesheet' href="{% static 'css/flaticon.css'%}">
    <link rel='stylesheet' href="{% static 'css/gijgo.css'%}">
    <link rel='stylesheet' href="{% static 'css/animate.css'%}">
    <link rel='stylesheet' href="{% static 'css/slicknav.css'%}">
    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/style.css'%}" rel='stylesheet'>

    {% endcompress %}
    {% endblock %}

  </head>

  <body>
      {% include 'navbar.html' %}

{#    <div class="container">#}

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}


{#    </div>#}

    <!-- footer -->
    {% include 'footer.html' %}
    <!-- footer -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Bootstrap JS and its dependencies-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
      <script src="{% static 'js/vendor/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/vendor/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'js/vendor/ajax-form.js' %}"></script>
      <script src="{% static 'js/vendor/waypoints.min.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.counterup.min.js' %}"></script>
      <script src="{% static 'js/vendor/imagesloaded.pkgd.min.js' %}"></script>
      <script src="{% static 'js/vendor/scrollIt.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.scrollUp.min.js' %}"></script>
      <script src="{% static 'js/vendor/wow.min.js' %}"></script>
      <script src="{% static 'js/vendor/nice-select.min.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.slicknav.min.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/vendor/plugins.js' %}"></script>
      <script src="{% static 'js/vendor/gijgo.min.js' %}"></script>

      <!--contact js-->
      <script src="{% static 'js/vendor/contact.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.form.js' %}"></script>
      <script src="{% static 'js/vendor/jquery.validate.min.js' %}"></script>
      <script src="{% static 'js/vendor/mail-script.js' %}"></script>


      <!-- place project specific Javascript in this file -->
      {% compress js %}
      {% block leaflet %}
        {% leaflet_css plugins="forms" %}
        {% leaflet_js plugins="forms" %}

        <style>
          .leaflet-container {
              height: 500px;
              width: 100%;
              z-index: 1;
          }
        </style>
        <script type="text/javascript">
          var today = new Date();
          var futureMarker = L.AwesomeMarkers.icon({
                  icon: 'play',
                  markerColor: 'violet'
              });

          var pastMarker = L.AwesomeMarkers.icon({
              icon: 'play',
              markerColor: 'green'
          });


          function markerOnClick(e)
              {
              var latLngs = [e.target.getLatLng()];
              var markerBounds = L.latLngBounds(latLngs);
              map.fitBounds(markerBounds);
              }
          function map_init(map, options) {


             var Stamen_Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
                  attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                  subdomains: 'abcd',
                  minZoom: 1,
                  maxZoom: 16,
                  ext: 'jpg'
                  }).addTo(map);

              var Stamen_TonerHybrid = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-hybrid/{z}/{x}/{y}{r}.{ext}', {
                  attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                  subdomains: 'abcd',
                  minZoom: 0,
                  maxZoom: 20,
                  ext: 'png'
              }).addTo(map);



              L.geoJson({{ event_list| geojsonfeature:"title,date,city" | safe}}, {
                      onEachFeature: function (feature, layer) {
                          layer.bindPopup('<h4>'+feature.properties.title+'</h4><br><div class="date">'+feature.properties.date+'</div><p>'+feature.properties.city+'</p>');
                          }
                      }).on('click', markerOnClick).addTo(map);
          }
        </script>
      {% endblock leaflet %}

      <script src="{% static 'js/main.js' %}"></script>
      <script> $(document).ready(function () {
              $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
          });
      </script>
      {% endcompress %}

    {% endblock javascript %}
  </body>
</html>
