{% load static %}
<!-- footer -->
<footer class="footer footer_bg_1">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img src="{% static 'images/reprohack_logo_sm.png' %}" alt="reprohack hex logo">
              </a>
            </div>
            <p>
              Overall we aim to build a community of practice
              around reproducibility, building capacity and
              generating community value. So feel free to
              reach out to us.
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="https://reprohack-autoinvite.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-slack"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/reprohack?lang=en" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="mailto:reprohack.team@googlemail.com">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/reprohack/reprohack_site" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>


          </div>
        </div>
        <div class="offset-l-1 col-md-6">
          <div class="footer_widget">
            <h3 class="footer_title">
              Events
            </h3>
            <ul>
              <li><a href="{% url 'event_list' %}">Event list</a></li>
              <li><a href="{% url 'event_new' %}"> Submit event</a></li>
            </ul>

          </div>
        </div>
        <div class="offset-l-1 col-md-6">
          <div class="footer_widget">
            <h3 class="footer_title">
              Papers
            </h3>
            <ul>
              <li><a href="{% url 'paper_list' %}"> Paper List</a></li>
              <li><a href="{% url 'paper_new' %}"> Submit paper</a></li>
              <li><a href="{% url 'review_new' %}"> Submit review</a></li>
            </ul>

          </div>
        </div>
        <div class="col-md-6">
          <div class="footer_widget">
            <h3 class="footer_title">
              Resources
            </h3>
            <ul>
              <li><a href="{% url 'organiser_guidelines' %}">Events Organisers</a></li>
              <li><a href="{% url 'author_guidelines' %}">Authors</a></li>
              <li><a href="{% url 'participant_guidelines' %}">Participants</a></li>
              <li><a href="{% url 'code-of-conduct' %}"> Code of Conduct</a></li>
              <li><a href="{% url 'data_protection_and_privacy_policy' %}"> Data Protection
                  Policy</a></li>
              <li><a href="{% url 'faq' %}"> FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center">
            Please report bugs and suggestions in our
            <a href='https://github.com/reprohack/reprohack_site/issues'>
              repository issue tracker <i class="fab fa-github"></i>
            </a> <br><br>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License"
                style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is
            licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons
              Attribution 3.0 Unported License</a>
            <br>
            This
            template is made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
              target="_blank">Colorlib</a> <br>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
