{% load static %}
<!-- footer -->
<footer class="footer footer_bg_1">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-3 ">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img src="{% static 'images/reprohack_logo_sm.png' %}" alt="">
              </a>
            </div>
            <p>
              Overall we aim to build a community of practice
              around reproducibility, building capacity and
              generating community value. So feel free to
              reach out to us.
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="https://reprohack-autoinvite.herokuapp.com/" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-slack"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/reprohack?lang=en" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="mailto:reprohack-hq@googlemail.com">
                    <i class="fa fa-envelope"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/reprohack/reprohack-hq" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>


          </div>
        </div>
        <div class="offset-l-1 col-md-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Events
            </h3>
            <ul>
              <li><a href="{% url 'event_list' %}">Event list</a></li>
              <li><a href="{% url 'event_new' %}"> Submit event</a></li>
            </ul>

          </div>
        </div>
        <div class="offset-l-1 col-md-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Papers
            </h3>
            <ul>
              <li><a href="{% url 'paper_list' %}"> Paper List</a></li>
              <li><a href="{% url 'paper_new' %}"> Submit paper</a></li>
              <li><a href="{% url 'review_new' %}"> Submit review</a></li>
            </ul>

          </div>
        </div>
        <div class="col-md-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              Resources
            </h3>
            <ul>
              <li><a href="{% url 'organiser_guidelines' %}">Events Organisers</a></li>
              <li><a href="{% url 'author_guidelines' %}">Authors</a></li>
              <li><a href="{% url 'participant_guidelines' %}">Participants</a></li>
              <li><a href="{% url 'code-of-conduct' %}"> Code of Conduct</a></li>
              <li><a href="{% url 'data_protection_and_privacy_policy' %}"> Data Protection
                  Policy</a></li>
              <li><a href="{% url 'faq' %}"> FAQs</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());

            </script> All rights reserved | This
            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
              target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer -->
