{% load static %}
{% url 'index' as index_url %}
{% url 'event_list' as events_url %}
{% url 'paper_list' as papers_url %}
{% url 'about' as about_url %}
{% url 'resources' as resources_url %}
<!-- header-start -->
<header>
  <div class="header-area">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
          <div class="col-xl-1 col-lg-1">
            <div class="logo-img">
              <a href="{% url 'index' %}">
                <img src="{% static 'images/reprohack_logo_sm.png' %}" alt="reprohack hex logo">
              </a>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  {% if user.is_authenticated %}
                  <li class="d-block d-lg-none">
                    <a href="{{ user.get_absolute_url }}" class="login-txt-nav">
                      <i class="bi-person-fill"></i>
                      <p class="login-txt-nav"> {{ user.username }} </p>
                    </a>
                  </li>
                  <li class="d-block d-lg-none">
                    <a href="{% url 'account_logout' %}"><strong>Logout</strong></a>
                  </li>
                  <hr class="d-block d-lg-none">
                  {% else %}
                  <li class="d-block d-lg-none">
                    <a href="{% url 'account_login' %}"><strong>Login</strong></a>
                  </li>
                  <li class="d-block d-lg-none">
                    <a href="{% url 'account_signup' %}"><strong>Sign Up</strong></a>
                  </li>
                  <hr class="d-block d-lg-none">
                  {% endif %}
                  {% with request.resolver_match.view_name as view_name %}
                  <li><a {% if view_name == "index" %} class="active" {% endif %} href="{% url 'index' %}">home</a></li>
                  <li><a {% if view_name == "event_list" or view_name == "event_detail" %} class="active" {% endif %}
                      href="{% url 'event_list' %}">Events</a></li>
                  <li><a {% if view_name == "paper_list" or view_name == "paper_detail" %} class="active" {% endif %}
                      href="{% url 'paper_list' %}">Papers</a></li>
                  <li><a {% if view_name == "review_list" or view_name == "review_detail" %} class="active" {% endif %}
                      href="{% url 'review_list' %}">Reviews</a></li>
                  <li><a {% if view_name == "about" %} class="active" {% endif %} href="{% url 'about' %}">About</a>
                  </li>
                  <li><a {% if view_name == "resources" %} class="active" {% endif %}
                      href="{% url 'resources' %}">Resources</a></li>
                  {% endwith %}

                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 d-none d-lg-block">
            <div class="log_chat_area d-flex justify-content-around align-items-center">
              {% if user.is_authenticated %}
              <a href="{{ user.get_absolute_url }}" class="login-txt">
                <i class="bi-person-fill"></i>
                <span>{{ user.username }}</span>
              </a>
              <div class="live_chat_btn">
                <a class="boxed_btn_orange" href="{% url 'logout' %}">
                  <span>Logout</span>
                </a>
              </div>
              {% else %}
              <a href="{% url 'account_signup' %}" class="login-txt">
                <i class="bi-person-fill"></i>
                <span>Sign up </span>
              </a>
              <div class="live_chat_btn">
                <a class="boxed_btn_orange" href="{% url 'login' %}">
                  <span>Login</span>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
