{% load static %}
{% url 'index' as index_url %}
{% url 'event_list' as events_url %}
{% url 'paper_list' as papers_url %}
{% url 'about' as about_url %}
    <!-- header-start -->
    <header>
        <div class="header-area">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'index' %}">
                                    <img src="{% static 'images/reprohack_logo_sm.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'index' %}">home</a></li>
                                       <li><a href="{% url 'event_list' %}">Events</a></li>
                                       <li><a href="{% url 'paper_list' %}">Papers</a></li>
                                      <li><a href="{% url 'review_list' %}">Reviews</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="contact.html">Resources</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                            <div class="log_chat_area d-flex justify-content-around align-items-center">
                                {% if user.is_authenticated %}
                                <a href="{{ user.get_absolute_url }}">
                                    <i class="flaticon-user"></i>
                                    <span>{{ user.get_username }}</span>
                                </a>
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="{% url 'logout' %}">
                                        <i class="fa fa-paper"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                                {% else %}
                                    <a href="{% url 'signup' %}">
                                        <i class="flaticon-user"></i>
                                        <span>Sign up </span>
                                    </a>
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="{% url 'login' %}">
                                        <i class="fa fa-paper"></i>
                                        <span>Login</span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
