<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>[ reprohack.org ] Your paper {{ paper_title }} has been reviewed!</title>
</head>

<body>

  <div>
    <img src="{{ logo_url }}" />
  </div>

  <p>
    Dear {{paper_user_name}},
  </p>

  <p>
    <h3>Your paper has been reviewed! </h3>

  </p>


  {% if review_event %}
  <p>
    Thank you so much for sharing your paper <strong>{{ paper_title }}</strong> to be
    reproduced at {{ review_event.title }}</strong>.

  </p>

  <p>
    We had a productive time at the event and participant feedback on your paper has just been
    submitted!

  </p>
  {% endif %}

  <p>
    As you know, reviewers are encouraged to complete a “Review Form”, recording their experiences of attempting to
    reproduce authors' work. You are receiving this email because you agreed to be notified of any new reviews
  </p>

  <h3>
    You can see the content of the review here: <a href="{{ review_url }}">{{ review_url }}</a>.
  </h3>

  <p>
    We can wholeheartedly say that reviewers where very engaged with the process and greatly
    benefited from working with the submitted materials, regardless of how successful they were
    at reproducing the work. We hope you will also find the feedback useful, regardless of any difficulties
    reviewers may have had.
  </p>


  <p>
    With warm regards,
  </p>

  <p>
    The ReproHack Core Team {% if review_event  %} & event host(s) {{ review_event.host }} {% endif %}
  </p>



  <a href="https:\\www.reprohack.org">reprohack.org</a>


</body>

</html>
