{% extends 'base.html' %}
{% load static %}

{% load leaflet_tags %}
{% load geojson_tags %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h3>Events</h3>
    <br>
    <a href="{% url 'event_new' %}" class="boxed_btn">Submit an event!</a>
</div>
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h1>Upcoming ReproHacks</h1>
            <br>
            <div class="row">
                <h2>ReproHack Map!</h2>
                {% leaflet_map "main" callback="map_init" %}
            </div>
            {% for event in event_list %}
            <div class="event">
                <div class="date">
                    {{ event.date }}
                </div>
                <h3><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
                <br>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}