{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    {{ event.title }}
</div>
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="event">
                {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'event_edit' pk=event.pk %}"><span
                        class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                <h3>{{ event.title }}</h3>
                {% if event.date %}
                <div class="date">
                    {{ event.date }}
                </div>
                {% endif %}
                <div>
                    <h5>{{ event.time_start }} - {{ event.time_end }}</h5>

                    <h5>{{ event.location }}, {{ event.address }}</h5>
                </div>
                <p>{{ event.description|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}