{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}  
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
    <h3>ReproHack Events</h3>
</div>
<!-- bradcam_area_end -->
<h1>ReproHack Events</h1>
<h3> Submit your event now!</h3>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block event-form %}
            {% endblock %}
<div class="event-form" method="POST">

  {% csrf_token %}
  {% crispy form %}

</div>
</div>
</div>
</div>
{% endblock %}
