{% extends 'base.html' %}
{% load static %}
{% load markdown_tags %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    {{ event.title }}
</div>
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="event">
                {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'event_edit' pk=event.pk %}"><span
                        class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                <h3>{{ event.title }}</h3>
                <div>
                    <h5>{{ event.start_time }} - {{ event.end_time }}</h5>

                    <h5>{{ event.address }}</h5>
                </div>

                <p>{{ event.description | show_markdown | safe}}</p>

                {% include "event/event_map.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
