{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<script>
  function Hide() {
    if (document.getElementById('id_remote').checked) {
      document.getElementById('div_id_address1').style.display = 'none';
      document.getElementById('div_id_address2').style.display = 'none';
      document.getElementById('div_id_city').style.display = 'none';
      document.getElementById('div_id_postcode').style.display = 'none';
      document.getElementById('div_id_country').style.display = 'none';
      document.getElementById('div_id_event_coordinates').style.display = 'none';
    } else {
      document.getElementById('div_id_address1').style.display = '';
      document.getElementById('div_id_address2').style.display = '';
      document.getElementById('div_id_city').style.display = '';
      document.getElementById('div_id_postcode').style.display = '';
      document.getElementById('div_id_country').style.display = '';
      document.getElementById('div_id_event_coordinates').style.display = '';
    }
  };

</script>
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
  <h1>Edit event</h1>
</div>
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <h1>Event details</h1>
    </div>

    <div class="content container">
      <form method="POST" class="event-form" method="POST">
        {% csrf_token %}
        {% crispy form %}
      </form>
    </div>
  </div>

  <script type="text/javascript">
    window.addEventListener("load", Hide);

  </script>
  <script type="text/javascript">
    var el = document.getElementById("div_id_remote");
    el.addEventListener("click", Hide);

  </script>
  {% endblock %}
