{% extends 'base.html' %}
{% load static %}
{% load deleted_user %}
{% load markdown_tags %}

{% block content %}

<div class="bradcam_area breadcam_bg overlay2">
  <h1>
    {{ event.title }}
    {% if user.pk == event.creator.pk %}
    <a class="btn btn-default" href="{% url 'event_edit' pk=event.pk %}"><i class="bi-pencil"></i> </a>
    {% endif %}

  </h1>
</div>
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <div class="event">
        <div class="card-box" style="">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <h3 class="card-title"> {{ event.title }} </h3>
                <h4 class="card-title"><i class="fa fa-calendar">&nbsp;&nbsp;<i class="bi-clock"></i>
                    &nbsp;&nbsp; </i>{{ event.start_time }} - {{ event.end_time }} ({{ event.time_zone}})</h4>
                {% if event.remote %}
                <h5 class="card-title"><i class="fas fa-globe"></i> &nbsp;&nbsp; Remote
                </h5>
                {% else %}
                <h5 class="card-title"><i class="fa fa-map-pin"></i> &nbsp;&nbsp; {{ event.address }}
                </h5>
                {% endif %}
                <p class="card-text">
                  {% if event.host %}
                  <h5>Hosted by: {{ event.host}}</h5>
                  {% endif%}
                </p>
                <br>
                <h6 class="card-subtitle mb-2 text-muted">Event submitted by:
                  {% if event.creator %}
                  <a href="{{ event.creator.get_absolute_url }}">{{ event.creator.username }}</a>
                  {% else %}
                  {% deleted_user %}
                  {% endif %}
                  on {{ event.submission_date }}
                </h6>
              </div>
              <div class="col-md-3" style="align:center;">
                <br>
                {% if event.registration_url %}
                <a href={{ event.registration_url }} class="boxed_btn_orange2" style="font-size: 1.5em;">
                  Register
                </a>
                {% endif%}
                <br>
                <br>
                <a href="https://reprohack-autoinvite.herokuapp.com/">
                  <img src="https://img.shields.io/badge/slack-join%20us-orange?style=for-the-badge&logo=slack" />
                </a>
                <div class="contact-box">
                  <a href="mailto:{{event.contact_email}}">
                    <i class="fas fa-envelope-square"></i> Contact Host
                  </a>
                  <br>
                  {% if event.hackpad_url %}
                  <a href={{ event.hackpad_url }}>
                    <i class="far fa-edit"></i></i> Hackpad
                  </a>
                  {% endif %}
                  {% if event.slides_url %}
                  <br>
                  <a href={{ event.slides_url }}>
                    <i class="far fa-play-circle"></i></i> Slides
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="event-description">
          <h3> Event Description </h3>
          <p>{{ event.description | show_markdown | safe }}</p>

          {% if not event.remote %}
          {% include "event/event_map_single.html" %}
          {% endif %}

          <h2>Associated papers</h2>
          {% if event.paper_set.count > 0 %}
          <ul>
            {% for paper in event.paper_set.all %}
            {% if not paper.archive %}
            <li class="paper card-box">
              <h3><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a></h3>
              <h5>Authors: {{ paper.authors }}</h5>
              <h5>DOI: <a href="{{ paper.doi }}">{{ paper.doi }}</a></h5>
              <h5>Submitted by <a href="{{ paper.submitter.get_absolute_url }}">{{ paper.submitter.username }}</a>
                <span class="icon-box">
                  {%  if paper.event %} &nbsp; <i class="fas fa-calendar-day"></i> {% endif %}
                  {%  if paper.review_availability == "ALL" %} &nbsp; <i class="far fa-list-alt"></i>
                  {% endif %}
                  {%  if paper.public_reviews %} &nbsp; <i class="fas fa-globe-africa"></i> {% endif %}
                </span>
              </h5>
              {% if paper.num_reviews > 0 %}
              <span class="paper-metric">
                <strong> <i class="fas fa-check-circle"></i> &nbsp; Mean reproducibility score: </strong> &nbsp;
                {{ paper.mean_reproducibility_score | floatformat:1 }}/10
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <strong><i class="fas fa-recycle"></i> Number of reviews: </strong> &nbsp;
                {{ paper.num_reviews }}
              </span>
              {% endif %}
              <hr>
              <small>
                <strong> Why should we attempt to reproduce this paper? </strong>
                <p>{{ paper.why }}</p>
              </small>

              <div class="detail_text">
                <span class="detail_header">Tags:</span>
                {% for tag in paper.tags.all %}
                <a href="/paper/?tags={{ tag }}" class="badge badge-primary p-1 m-1">{{ tag }}</a>
                {% endfor %}
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% else %}
          No associated papers

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
