# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=reprohack_hub
# Postgres user should be an alpanumeric string
POSTGRES_USER=$TMPL_POSTGRES_USER
# Postgres password should be an alpanumeric string
POSTGRES_PASSWORD=$TMPL_POSTGRES_PASSWORD

