# Host manager email address e.g. somebody@somedomain.com
HOST_MANAGER_EMAIL=$TMPL_EMAIL
# Host domains list e.g. "Host(`hostname.domain.com`) || Host(`alias.domain.com`)"
HOST_DOMAINS_LIST="Host(`$TMPL_HOST`) || Host(`$TMPL_HOST_ALIAS`)"
