@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');

html {
    font-size: 12px;
    }

h1, h2, h3 {
    color: rgb(9, 59, 47);
    font-family: 'Knewave';
}

h1 a, h2 a h3 a {
    color: rgb(230, 240, 236);
    font-family: 'Knewave';
}

body {
    padding-left: 15px;
}
.page-header {
    background-color: rgb(56, 139, 114);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}


.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Knewave', cursive;
}

.date {
    color: #828282;
    font-size: 16pt;
}

.save {
    float: right;
}

.event-form textarea, .event-form input {
    width: 80%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #0a0a0a;
    float: right;
    font-size: 18pt;
    margin-right: 20px;
}

.event {
    margin-bottom: 70px;
}

.event h2 a, .event h2 a:visited {
    color: #000000;
}
