{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<script>
  function Hide() {
    if (document.getElementById('id_event').value == "") {
      document.getElementById('div_id_review_availability').style.display = 'none';
    } else {
      document.getElementById('div_id_review_availability').style.display = '';
    }
  };

</script>
<div class="bradcam_area breadcam_bg overlay2">
  <h1>Edit paper</h1>
</div>
<div class="container">
  <form method="POST" class="paper-form" method="POST">
    {% csrf_token %}
    {% crispy form %}
  </form>

</div>
<script type="text/javascript">
  window.addEventListener("load", Hide);

</script>
<script type="text/javascript">
  var el = document.getElementById("div_id_event");
  el.addEventListener("change", Hide);

</script>
{% endblock %}
