{% extends 'base.html' %}
{% load static %}
{% load deleted_user %}
{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
  <h1>Papers</h1>

  <br>
  <br>
  <a href="{% url 'paper_new' %}" class="boxed_btn">Submit a Paper!</a>
</div>
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">


      <div class="row">
        <div class="col-sm-9">
          <h2 class="mb-4">Browse ReproHack papers</h2>
          <ul>
            {% for paper in object_list %}
            <li class="paper card-box">
              <h3><a href="{{ paper.get_absolute_url }}">{{ paper.title }}</a></h3>
              {% if paper.authors %}<h5>Authors: {{ paper.authors }}</h5>{% endif %}
              {% if paper.doi %}<h5>DOI: <a href="{{ paper.doi }}">{{ paper.doi }}</a></h5>{% endif %}
              <h5>Submitted by
                {% if paper.submitter %}<a
                  href="{{ paper.submitter.get_absolute_url }}">{{ paper.submitter.username }}</a>
                {% else %} {% deleted_user %}
                {% endif %}
                <span class="icon-box">
                  {%  if paper.event %} &nbsp; <a href="{{ paper.event.get_absolute_url }}"><i
                      class="fas fa-calendar-day" title="Has associated event"></i></a> {% endif %}
                  {%  if paper.review_availability == "ALL" %} &nbsp; <i class="far fa-list-alt"
                    title="Available for general review"></i>
                  {% endif %}
                  {%  if paper.public_reviews %} &nbsp; <i class="fas fa-globe-africa"
                    title="Public reviews welcome"></i> {% endif %}
                </span>
              </h5>
              {% if paper.num_reviews > 0 and  user.is_authenticated %}
              <span class="paper-metric">
                <strong> <i class="fas fa-check-circle"></i> &nbsp; Mean reproducibility score: </strong> &nbsp;
                {{ paper.mean_reproducibility_score | floatformat:1 }}/10
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <strong><i class="fas fa-recycle"></i> Number of reviews: </strong> &nbsp;
                {{ paper.num_reviews }}
              </span>
              {% endif %}
              <hr>
              <small>
                <strong> Why should we attempt to reproduce this paper? </strong>
                <p>{{ paper.why }}</p>
              </small>

              <div class="detail_text">
                <span class="detail_header">Tags:</span>
                {% for tag in paper.tags.all %}
                <a href="/paper/?tags={{ tag }}" class="badge badge-primary p-1 m-1">{{ tag }}</a>
                {% endfor %}
              </div>
            </li>

            {% endfor %}
          </ul>


          {# Pagination #}
          {% include "misc/pagination.html" %}



        </div>

        <div class="col-sm-3">
          <h4>Search for papers</h4>
          <form method="get">
            <div class="mb-4">
              <input type="hidden" name="tags" value="{{ tags }}">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search papers..." name="search" aria-label="Search"
                  value="{{ search }}" />
                <div class="input-group-append">
                  <button type="submit" class="btn-primary btn"><i class="bi-search m-0 p-0"
                      style="font-size: 0.7em"></i> Search
                  </button>
                </div>
              </div>

            </div>


            <h4>Filter by tags</h4>
            <div>
              {% for tag in tags_list %}
              <a href="?search={{ search }}&tags={{ tag.new_state }}"
                class="{% if tag.selected %}badge-primary{% else %}badge-secondary{% endif %} badge"
                title="{% if tag.selected %}Remove tag: {{ tag.name }}{% else %}Add tag: {{ tag.name }}{% endif %}">
                {{ tag.name }}
              </a>
              {% endfor %}
              <a href="?search={{ search }}&tags={{ all_tags }}" class="badge-success badge" title="Select all tags">
                <i class="bi-plus"></i> All tags
              </a>
              <a href="?search={{ search }}&tags=" class="badge-warning badge" title="Clear all tags">
                <i class="bi-dash"></i> Clear tags
              </a>
            </div>
          </form>
          <br>
          <h4> Key </h4>
          <small>
            <i class="fas fa-calendar-day"></i> &nbsp; Associated with an event <br>
            <i class="far fa-list-alt"></i> &nbsp; Available for general review <br>
            <i class="fas fa-globe-africa"></i> &nbsp; Public reviews welcome
          </small>
        </div>

      </div>


    </div>

  </div>
</div>


{% endblock %}
