{% extends 'base.html' %}
{% load static %}
{% load deleted_user %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">

  <h1>{{ paper.title }}
    {% if user.pk == paper.submitter.pk %}
    <a class="btn btn-default" href="{% url 'paper_edit' pk=paper.pk %}"><i class="bi-pencil-fill"></i></a>
    {% endif %}
  </h1>
  <br>
  {%  if paper.is_available_for_general_review or paper.is_available_for_event_review %}
  <a href="{% url 'review_new' paperid=paper.pk %}" class="boxed_btn">Review this paper</a>
  {% endif %}
  {% if paper.review_availability == "EVT_ONLY" %}
  <br>
  <h3 style="color: white;"> <i class="fas fa-exclamation-circle"></i> &nbsp; Paper is only available for review at the
    <strong>{{ paper.event.title }}</strong> event &nbsp; <i class="fas fa-exclamation-circle"></i> </h3>
  {% endif %}
  {%  if paper.archive %}
  <h2 style="color: white;"> <i class="fas fa-archive"></i> PAPER ARCHIVED <i class="fas fa-archive"></i></h2>
  {% endif %}
</div>
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <div class="paper">
        <div>
          <h4>Submitted by
            {% if paper.submitter %}<a href="{{ paper.submitter.get_absolute_url }}">{{ paper.submitter.username }}</a>
            {% else %} {% deleted_user %}
            {% endif %}

          </h4> {{paper.submission_date}}
        </div>
        <hr>


        <div class="markdownx-preview">

          <h3>{{ paper.title }}</h3>
          <div class="header_text">{{ paper.authors }}</div>
          <div class="header_italic"> {{ paper.citation_txt }}</div>
          <h5>DOI: &nbsp;<a href="https://www.doi.org/{{ paper.doi }}">{{ paper.doi }}</a> &nbsp;
          <span class="icon-box">
            {%  if paper.event %} &nbsp; <a href="{{ paper.event.get_absolute_url }}"><i class="fas fa-calendar-day" title="Has associated event"></i></a>  {% endif %}
            {%  if paper.review_availability == "ALL" %} &nbsp; <i class="far fa-list-alt"></i>
            {% endif %}
            {%  if paper.public_reviews %} &nbsp; <i class="fas fa-globe-africa" title="Available for general review"></i> {% endif %}
            {%  if paper.email_review %} &nbsp; <i class="fas fa-envelope"></i> {% endif %}
          </span></h5>
          {% if paper.num_reviews > 0 %}<br><br>
          <span class="paper-metric">
            {%  if paper.public_reviews %}
            <strong> <i class="fas fa-check-circle"></i> &nbsp; Mean reproducibility score: </strong>
            &nbsp;
            {{ paper.mean_reproducibility_score | floatformat:1 }}/10
            &nbsp;&nbsp;|&nbsp;&nbsp;
            {% endif %}
            <strong><i class="fas fa-recycle"></i> Number of reviews: </strong> &nbsp;
            {{ paper.num_reviews }}
          </span>
          {% endif %}
        </div>
        <br>
        <div class="col-md-10">
          <div class="detail_header">Brief Description</div>
          <div class="detail_text">{{ paper.description|linebreaksbr }}</div>

          <div class="detail_header">Why should we reproduce your paper?</div>
          <div class="detail_text">{{ paper.why }}</div>

          <div class="detail_header">What should reviewers focus on?</div>
          <div class="detail_text">{{ paper.focus }}</div>
          <br>
          <h3> Resources</h3>
          {% if paper.paper_url %}
          <div class="detail_text"><span class="detail_header"><i class="far fa-file-alt"></i> &nbsp; Paper URL:</span>
            <a href="{{ paper.paper_url }}">{{ paper.paper_url }}</a></div>
          {% endif%}
          {% if paper.data_url %}
          <div class="detail_text"><span class="detail_header"><i class="fas fa-table"></i> &nbsp; Data URL:</span> <a
              href="{{ paper.data_url }}">{{ paper.data_url }}</a></div>
          {% endif%}
          {% if paper.code_url %}
          <div class="detail_text"><span class="detail_header"> <i class="fas fa-file-code"></i> &nbsp; Code URL:</span>
            <a href="{{ paper.code_url }}">{{ paper.code_url }}</a></div>
          {% endif%}
          {% if paper.extra_url %}
          <div class="detail_text"><span class="detail_header"> <i class="fas fa-plus"></i> &nbsp; Extra URL:</span> <a
              href="{{ paper.extra_url }}">{{ paper.extra_url }}</a></div>
          {% endif%}
          <div class="detail_text">
            <span class="detail_header">Tags:</span>
            {% for tag in paper.tags.all %}
            <a href="" class="badge badge-primary">{{ tag }}</a>
            {% endfor %}
          </div>
          <br>
          <h3>Associated event</h3>
          <div class="detail_text">
            {% if paper.event %}
            <a href="{% url 'event_detail' pk=paper.event.pk %}"> {{ paper.event }}
              {% else %}
              No associated event.
              {% endif %}
          </div>
          {% if user.is_authenticated %}
          {% if reviews %}
          <br>
          <h3>Public reviews</h3>
          <ul>
            {% for review in reviews reversed %}

            <li class="card-box">
              <a href="{% url 'review_detail' pk=review.pk %}">
                Review by {% if review.reviewers.count > 0 %}
                    {% for reviewer in review.reviewers.all %}{{ reviewer.username }}, {% endfor %}
                    {% else %}
                    {% deleted_user %}
                    {% endif %}
                , {{ review.submission_date }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
