{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<script>
  function Hide() {
    if (document.getElementById('id_event').value == "") {
      document.getElementById('div_id_review_availability').style.display = 'none';
    } else {
      document.getElementById('div_id_review_availability').style.display = '';
    }
  };

</script>
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
  <h1>Submit Paper</h1>
</div>
<!-- bradcam_area_end -->

<div class="content container">
  <h1>ReproHack Paper List</h1>
  <p>We're putting together a database of papers from which participants can choose to reproduce at our ReproHack
    events. We're looking for papers for which both DATA and CODE are available.

    Papers do not necessarily need to be published. Submitting your paper at the pre-print stage is perfectly
    acceptable.
  </p>
  <p>
    For more details, please visit our <a href="{% url 'author_guidelines' %}"> guidelines for authors</a>
  </p>
  <h3> Submit your paper now!</h3>
  <div class="row">
    <div class="col-md-10">
      {% block paper-form %}
      {% endblock %}
      <div class="paper-form" method="POST">

        {% csrf_token %}
        {% crispy form %}

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.addEventListener("load", Hide);

</script>
<script type="text/javascript">
  var el = document.getElementById("div_id_event");
  el.addEventListener("change", Hide);

</script>
{% endblock %}
