{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Change Password" %}</h1>

    <p>
    Go back to <a href="{% url 'user_edit_redirect' %}">edit your profile</a>.
    </p>


    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="boxed_btn mb-4" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
