{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
  <h1>Signup</h1>
</div>
<!-- bradcam_area_end -->
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <div class="col-md-10">
        <h3>Welcome to the reprohack community</h3>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign
            in</a>.{% endblocktrans %}</p>
        <form method="post">
          {% csrf_token %}
          {% crispy form %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
