{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
  <h1>
    User profile
    {% if is_user %}
    <a class="btn btn-default" href="{% url 'user_update' username=viewed_user.username %}"><i
        class="bi-pencil-fill"></i> </a>
    {% endif %}
  </h1>
</div>
<!-- bradcam_area_end -->
<div class="whole-wrap">
  <div class="container mt-3 mb-3">
    <div class="markdownx-preview">
      <div class="row">
        <div class="col-md-10">

          <h2><i class="bi-person-fill"></i>
            {{ viewed_user.username }}
            {% if viewed_user.twitter %}
            <a href="https://twitter.com/{{ viewed_user.twitter }}">
              <i class="fab fa-twitter"></i></a>
            {% endif %}
            {% if viewed_user.github %}
            <a href="https://github.com/{{ viewed_user.github }}">
              <i class="fab fa-github"></i> </a>
            {% endif %}
            {% if viewed_user.orcid %}
            <a href="https://orcid.org/{{ user.orcid }}">
              <i class="fab fa-orcid"></i> </a>
            {% endif %}
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            <span class="detail_header">Name:</span> {{ viewed_user.full_name }}
          </p>
          {% if viewed_user.affiliation %}
          <p>
            <span class="detail_header">Affiliation:</span> {{ viewed_user.affiliation }}
          </p>
          {% endif %}
          {% if viewed_user.location %}
          <p>
            <span class="detail_header">Location:</span> {{ viewed_user.location }}
          </p>
          {% endif %}
        </div>
        <div class="col-md-6">
          {% if viewed_user.bio %}
          <p class="detail_header">
            Bio:
          </p>
          <p class="header_text">
            {{ viewed_user.bio }}
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="indent-body">
      <div class="row">
        <div class="col-md-6">
          <h2> <i class="fa fa-file"></i> &nbsp; Papers </h2>
          {% if papers.count > 0 %}
          <ul>
            {% for paper in papers %}
            <li class="card">
              <a href="{{ paper.get_absolute_url }}">
                <h4 class="card-title">
                  {{ paper.title }}
                </h4>
              </a>
              <p class="icon-box orange">
                {%  if paper.event %} &nbsp; <i class="fas fa-calendar-day"></i> {% endif %}
                {%  if paper.review_availability == "ALL" %} &nbsp; <i class="far fa-list-alt"></i>
                {% endif %}
                {%  if paper.public_reviews %} &nbsp; <i class="fas fa-globe-africa"></i> {% endif %}
                {%  if paper.email_review %} &nbsp; <i class="fas fa-envelope"></i> {% endif %}
                {%  if paper.archive %} &nbsp; <i class="fas fa-archive"></i> {% endif %}

                {% if paper.num_reviews > 0 %}
                <span class="paper-metric">
                  &nbsp;&nbsp;
                  {%  if paper.public_reviews %}
                  <strong> <i class="fas fa-check-circle"></i> </strong>
                  &nbsp;
                  {{ paper.mean_reproducibility_score | floatformat:1 }}/10
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  {% endif %}
                  <strong><i class="fas fa-recycle"></i> </strong> &nbsp;
                  {{ paper.num_reviews }}
                </span>
                {% endif %}
              </p>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          No Papers to show
          {% endif %}
        </div>
        <div class="col-md-6">
          <h2> <i class="fas fa-clipboard-check"></i> Reviews </h2>
          {% if reviews %}
          {{ review.get_absolute_url }}
          <ul>
            {% for review in reviews %}
            <li class="card">
              <a href="{{ review.get_absolute_url }}">
                <h4 class="card-title"> Review of "{{ review.paper.title }}" </h4>
                <p class="icon-box orange">
                  {%  if review.public_review %} &nbsp; <i class="fas fa-globe-africa"></i> {% endif %}
                </p>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          No Reviews to show
          {% endif %}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h2> <i class="far fa-calendar-alt"></i>&nbsp; Events </h2>
          {% if events.count > 0 %}
          <ul>
            {% for event in events %}
            <li class="card">
              <a href="{{ event.get_absolute_url }}">
                <h4 class="card-title"> {{ event.title }} </h4>
              </a>
              {% if event.remote %}
              <h5><i class="fas fa-globe"></i> &nbsp;&nbsp; Remote </h5>
              {% else %}
              <h5><i class="fa fa-map-pin"></i> &nbsp; {{ event.city }}, {{ event.country }} </h5>
              {% endif %}
              <small>
                <div class="date">
                  <i class="bi-clock"></i>
                  {{ event.start_time }} - {{ event.end_time }} (TZ: {{ event.time_zone }})
                </div>
              </small>
            </li>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          No Events to show
          {% endif %}
        </div>
        <div class="col-md-6">
          <br>
          <h3> Key </h3>
          <ul>
            <li><i class="fas fa-calendar-day"></i> &nbsp; Associated with an event</li>
            <li><i class="far fa-list-alt"></i> &nbsp; Available for general review</li>
            <li><i class="fas fa-globe-africa"></i> &nbsp; Public reviews</li>
            <li><i class="fas fa-envelope"></i> &nbsp; Email notifications on</li>
            <li><i class="fas fa-archive"></i> &nbsp; Archived</li>
            <li><i class="fas fa-check-circle"></i> &nbsp; Mean Reproducibility Score</li>
            <li><i class="fas fa-recycle"></i> &nbsp; Number of reviews</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
{% endblock %}
