{% extends "base.html" %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2"></div>
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
      </form>
    </div>
  </div>
</div>
{% endblock %}