{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
  <h3>Edit user profile</h3>
</div>
<!-- bradcam_area_end -->
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <div class="col-md-10">
        <form method="post">
          {% csrf_token %}
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
