{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-info">
    <a class="navbar-brand" href="#">
        <img src="{% static 'reprohack/images/reprohack_logo_sm.png' %}" width = "40" height = "40"
        class="d-inline-block align-top">
        Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapseLinks" 
        aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id='navbar-collapseLinks'>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ home_page }}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item {{ event_list }}">
                <a class="nav-link" href="{% url 'event_list' %}">Event list</a>
            </li>
            <li class="nav-item {{ event_new }}">
                <a class="nav-link" href="{% url 'event_new' %}">Event new</a>
            </li>
            <li>
                <a href="{% url 'event_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            </li>
        </ul>
    </div>
  </nav>

  
        <!----{% if user.is_authenticated %}---->
       
       <!----{% endif %}---->
      
  