{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
  <h1>Reviews</h1>
  <br>
  <br>
  <a href="{% url 'review_new' %}" class="boxed_btn">Submit a review!</a>
</div>
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      {% if user.is_authenticated %}
      <div class="markdownx-preview">
        <h4>Please note: Not all reviews are visible</h4>
        Reviews are visible when both:
        <ul>
          <li> The author has set reviews on their paper to be public.</li>
          <li> Reviewers have set their review to be public. </li>
        </ul>
        Reviews are always visible to paper authors and reviewers.
      </div>
      <h1>Recent Reviews</h1>
      <ul>
        {% for review in viewable_reviews reversed %}
        <li class="review mb-4 card-box">
          <h3>
            <a href="{{ review.get_absolute_url }}">{{ review }}</a>
          </h3>
          <div>
            By: {% for reviewer in review.reviewers.all %}<a
              href="{{ reviewer.get_absolute_url }}">{{ reviewer.username }}</a> {% endfor %}
            <span class="icon-box orange">
              {%  if review.public_review %} &nbsp; <i class="fas fa-globe-africa"></i> {% endif %}
            </span>
          </div>
          <div>
            <i class="bi-clock"></i> Submitted: {{ review.submission_date }}
          </div>

        </li>
        {% endfor %}
      </ul>


      {# Pagination #}
      {% include "misc/pagination.html" %}
      {% else %}
      <h3>Please log in to view visible reviews</h3>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
