{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
  <h3>Review of {{ review.paper }}</h3>
    <br>
</div>
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="review">
                {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'review_edit' pk=review.pk %}"><span
                        class="glyphicon glyphicon-pencil">review</span></a>
                {% endif %}
                <h3>{{ review }}</h3>
                <div>
                    <h4>Submitted by {{ review.reviewers.first }}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
