{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="bradcam_area breadcam_bg overlay2">
    <h1>Reviews</h1>
    <br>
    <a href="{% url 'review_new' %}" class="boxed_btn">Submit a review!</a>
</div>
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h1>Recent Reviews</h1>
            {% for review in reviews_list %}
              <div class="review">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title"><a href="{{ review.get_absolute_url }}">{{ review }}</a></h3>
                      <p class="card-text"></p>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
