{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load deleted_user %}
{% load markdown_tags %}


{% block content %}

<div class="bradcam_area breadcam_bg overlay2">
  <h1>Review of
    <br>
    <oblique> "{{ review.paper }}"</oblique>
    {% if is_reviewer %}
    <a class="btn btn-default" href="{% url 'review_edit' pk=review.pk %}"><i class="bi-pencil"></i> </a>
    {% endif %}

  </h1>

</div>
<div class="whole-wrap">
  <div class="container box_1170">
    <div class="section-top-border">
      <div class="review">
        <div>
          <h3>Review of "<a href="{{ review.paper.get_absolute_url }}">{{ review.paper.title }}</a>"</h3>
        </div>

        <div>
          <h4>Submitted by {%if review.reviewers.count > 0 %}{{ review.reviewers.first }}{% else %}{% deleted_user %}{% endif %} <span class="icon-box">
              {%  if review.public_review %} &nbsp; <i class="fas fa-globe-africa" title="Public review"></i> {% endif %}
            </span>
          </h4>
          {{review.submission_date}}
        </div>
        {%  if  review.get_lead_reviewers  %}
        <div>
          <h4>Lead reviewer</h4>
          {% for rv in review.get_lead_reviewers %}
          <a href="{{ rv.get_absolute_url }}">{{ rv.username }}</a>

          {% endfor %}

        </div>
        {% endif %}
        {% if review.get_normal_reviewers  %}
        <div>

          <h4>Review team members</h4>
          {% for rv in review.get_normal_reviewers %}
          <a href="{{ rv.get_absolute_url }}">{{ rv.username }}</a>

          {% endfor %}
        </div>
        {% endif %}
        <div>
          <hr>
          <h2>Review Body</h2>
          <h3>Reproducibility</h3>
          <div class="detail_header">
            Did you manage to reproduce it?
          </div>
          <div class="detail_text">
            {{ review.get_reproducibility_outcome_display }}
          </div>

          <div class="detail_header">
            Reproducibility rating
          </div>
          How much of the paper did you manage to reproduce?
          <div class="container-scores">
            <div class="scores" style="width:{{ review.reproducibility_rating }}0%;">
              {{ review.reproducibility_rating }} / 10
            </div>
          </div>

          <div class="detail_header">
            Briefly describe the procedure followed/tools used to reproduce it
          </div>
          <div class="detail_text">
            {{ review.reproducibility_description | show_markdown | safe  }}
          </div>

          <div class="detail_header">
            Briefly describe your familiarity with the procedure/tools used by the paper.
          </div>
          <div class="detail_text">
            {{ review.familiarity_with_method | show_markdown | safe }}
          </div>

          <div class="detail_header">Which type of operating system were you working in?</div>
          <div class="detail_text">
            {{ review.get_operating_system_display }}
          </div>

          <div class="detail_header">What additional software did you need to install?</div>
          <div class="detail_text">
            {{ review.software_installed | show_markdown | safe }}
          </div>

          <div class="detail_header">What software did you use</div>
          <div class="detail_text">
            {{ review.software_used | show_markdown | safe }}
          </div>

          <div class="detail_header">What were the main challenges you ran into (if any)?</div>
          <div class="detail_text">
            {{ review.challenges | show_markdown | safe }}
          </div>

          <div class="detail_header">What were the positive features of this approach?</div>
          <div class="detail_text">
            {{ review.advantages | show_markdown | safe }}
          </div>

          <div class="detail_header">Any other comments/suggestions on the reproducibility approach?</div>
          <div class="detail_text">
            {{ review.comments_and_suggestions | show_markdown | safe  }}
          </div>
          <br>
          <h3>Documentation</h3>

          <div class="detail_header">Documentation rating</div>
          How well was the material documented?
          <div class="container-scores">
            <div class="scores" style="width:{{ review.documentation_rating }}0%;">
              {{ review.documentation_rating }} / 10
            </div>
          </div>

          <div class="detail_header">How could the documentation be improved?</div>
          <div class="detail_text">{{ review.documentation_cons | show_markdown | safe }}</div>

          <div class="detail_header">What do you like about the documentation?</div>
          <div class="detail_text">{{ review.documentation_pros | show_markdown | safe }}</div>

          <div class="detail_header">After attempting to reproduce, how familiar do you feel with the code and methods
            used in the paper?</div>
          <div class="container-scores">
            <div class="scores" style="width:{{ review.method_familiarity_rating }}0%;">
              {{ review.method_familiarity_rating }} / 10
            </div>
          </div>
          <div class="detail_header">Any suggestions on how the analysis could be made more transparent?</div>
          <div class="detail_text">{{ review.transparency_suggestions | show_markdown | safe }}</div>
          <br>

          <h3>Reusability</h3>
          <div class="detail_header">Reusability rating</div>
          Rate the project on reusability of the material
          <div class="container-scores">
            <div class="scores" style="width:{{ review.method_reusability_rating }}0%;">
              {{ review.method_reusability_rating }} / 10
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="detail_header">
                Permissive Data license included: &nbsp; {% if review.data_permissive_license  %}
                <i class="fa fa-check-square"></i>
                {% else %} <i class="fa fa-times"></i>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="detail_header">
                Permissive Code license included: &nbsp; {% if review.code_permissive_license  %}
                <i class="fa fa-check-square"></i>
                {% else %} <i class="fa fa-times"></i>
                {% endif %}
              </div>
            </div>
          </div>
          <br>

          <div class="detail_header">Any suggestions on how the project could be more reusable?</div>
          <div class="detail_text">{{ review.reusability_suggestions | show_markdown | safe }}</div>

          <br>
          <br>
          <div class="detail_header">Any final comments</div>
          <div class="detail_text">{{ review.general_comments | show_markdown | safe }}</div>



          <hr>
          {% if is_author or is_reviewer %}
          <h2 id="comments">Comments</h2>
          {% for comment in review.comment_set.all %}
          <b>{{ comment.commenter }}</b> said <b>{{ comment.created_on|timesince }} ago</b>
          <p>{{ comment.comment }}</p>
          {% empty %}
          <p>Feel free to leave the first comment!</p>
          {% endfor %}
          <hr>
          <h3>Add a comment</h3>
          {% block comment-form %}
          {% endblock %}
          <div class="comment-form" action="" method="POST">
            {% csrf_token %}
            {% crispy comment_form %}
          </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
