{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay2">
    <h3>About Us</h3>
</div>
<!-- bradcam_area_end -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <div class="text">
                <h3>ReproHack History</h3>
                <br>
                <p>
                    They were originally run as part of Opencon satellite events (Berlin 2016, London 2017)

                    and inspired by Owen Petchey’s Reproducible Research course
                    where students attempt to recreate published results from raw data,
                    over a few months and multiple sessions.

                    We only had one day so set the challenge to be,
                    to <strong>reproduce paper results from published data AND code.</strong>

                </p>

                <p>

                    After a short hiatus and as calls for reproducibility increased, the project was resurrected as part
                    was resurrected as part of Anna Krystalli's 2019 Software Sustainability
                    Institute Fellows cohort which supported the running of a series of ReproHacks
                </p>
                <h3>ReproHack team</h3>
                <br>
                <img src="{% static 'reprohack/images/reprohack_ladies.png' %}" width=100%>
            </div>
            <!-- about_area_end -->

            <!-- our_team_member_start -->
            <div class="our_team_member">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="single_team">
                                <div class="thumb">
                                    <img src="img/team/1.png" alt="">
                                    <div class="social_link">
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="master_name text-center">
                                    <h3>Macau Wilium</h3>
                                    <p>Massage Master</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="single_team">
                                <div class="thumb">
                                    <img src="img/team/2.png" alt="">
                                    <div class="social_link">
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="master_name text-center">
                                    <h3>Dan Jacky</h3>
                                    <p>Mens Cut</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="single_team">
                                <div class="thumb">
                                    <img src="img/team/3.png" alt="">
                                    <div class="social_link">
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="master_name text-center">
                                    <h3>Luka Luka</h3>
                                    <p>Mens Cut</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="single_team">
                                <div class="thumb">
                                    <img src="img/team/4.png" alt="">
                                    <div class="social_link">
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="master_name text-center">
                                    <h3>Rona Dana</h3>
                                    <p>Ladies Cut</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- our_team_member_end -->

        </div>
    </div>
</div>
{% endblock %}