<!doctype html>
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}

<html class="no-js" lang="zxx">

<head>
    <title>{% block title %}Home {% endblock title %} | Reprohack Headquarters</title>
    {% block head_favicon %}
    <link rel="icon" type="images/png" href="{% static 'reprohack/images/reprohack_favicons/favicon.ico' %}">
    {% endblock head_favicon %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">--->
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- CSS here -->
    <link rel='stylesheet' href="{% static 'reprohack/css/bootstrap.min.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/owl.carousel.min.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/magnific-popup.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/font-awesome.min.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/themify-icons.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/nice-select.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/flaticon.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/gijgo.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/animate.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/slicknav.css'%}">
    <link rel='stylesheet' href="{% static 'reprohack/css/style.css'%}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!--   <link rel="stylesheet" href="{% static 'reprohack/css/site.css' %}"> --->

    {% leaflet_css %}
    {% leaflet_js %}
    {% leaflet_css plugins="forms" %}
    {% leaflet_js plugins="forms" %}

    <style>
        .leaflet-container {
            height: 100%;
            width: 80%;
            z-index: -9999;
        }
    </style>
    <script type="text/javascript">
        function map_init(map, options) {
            L.geoJson({{ event_list| geojsonfeature | safe}}).addTo(map);
        }
    </script>
</head>

<body>
    {% include 'navbar_test.html' %}
    {% block content %}
    {% endblock %}


    <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="{% static 'reprohack/images/reprohack_logo_sm.png' %}" alt="">
                                </a>
                            </div>
                            <p>
                                Overall we aim to build a community of practice around reproducibility, building
                                capacity and
                                generating community value. So feel free to reach out to us.
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://github.com/reprohack/reprohack-hq">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/reprohacknl?lang=en">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-slack"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:reprohack-hq@googlemail.com">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                    <div class="offset-l-1 col-md-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Events
                            </h3>
                            <ul>
                                <li><a href="#"></a>Event list</li>
                                <li><a href="#"> Submit event</a></li>
                                <li><a href="#"> Edit event</a></li>
                                <li><a href="#"> Contact</a></li>
                                <li><a href="#"> Blog</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Resources
                            </h3>
                            <ul>
                                <li><a href="#">Events Organisers</a></li>
                                <li><a href="#">Authors</a></li>
                                <li><a href="#">Participants</a></li>
                                <li><a href="#"> Publishing in ReScience C</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    <!-- JS here -->
    <script src="{% static 'reprohack/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'reprohack/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'reprohack/js/popper.min.js' %}"></script>
    <script src="{% static 'reprohack/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'reprohack/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'reprohack/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'reprohack/js/ajax-form.js' %}"></script>
    <script src="{% static 'reprohack/js/waypoints.min.js' %}"></script>
    <script src="{% static 'reprohack/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'reprohack/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'reprohack/js/scrollIt.js' %}"></script>
    <script src="{% static 'reprohack/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'reprohack/js/wow.min.js' %}"></script>
    <script src="{% static 'reprohack/js/nice-select.min.js' %}"></script>
    <script src="{% static 'reprohack/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'reprohack/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'reprohack/js/plugins.js' %}"></script>
    <script src="{% static 'reprohack/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'reprohack/js/contact.js' %}"></script>
    <script src="{% static 'reprohack/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'reprohack/js/jquery.form.js' %}"></script>
    <script src="{% static 'reprohack/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'reprohack/js/mail-script.js' %}"></script>

    <script src="{% static 'reprohack/js/main.js' %}"></script>
    <script> $(document).ready(function () {
            $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
        }); 
    </script>

    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</body>

</html>