{% extends 'base.html' %}

{% load static %}
{% load leaflet_tags %}
{% block content %}  
    <!-- slider_area_start -->
    <div class="slider_area ">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-4 col-md-4">
                        <div class="illastrator_png">
                            <img src="{% static 'reprohack/images/reprohack-graphic.png' %}" alt="" width=100%>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-8">
                        <div class="slider_info">
                            <h1>Reprohacks </h1>
                            <h3> Building Communities of Practice <br>
                                in Reproducibility</h3>
                            <a href="{% url 'event_list' %}" class="boxed_btn">Find an event near you!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <!-- quote_area -->
    <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                        <div class="row">
                                <div class="col-lg-12">
                                    <blockquote class="generic-blockquote">
                                        <h4>“an article about computational result is
                                        advertising, not scholarship. </h4>
                                        <br>
                                        The actual scholarship is the full software environment, code and data, that
                                        produced the result.“
                                        <br>
                                        John Claerbout
                                    </blockquote>
                                </div>
                            </div>
                            <p>We are all excited by the progress made by many authors to make their papers reproducible by publishing associated code and data.
    
                                    We know how challenging it can be so we want to showcase the value of the practice, both for original authors and as a learning experience for those who attempt to reproduce the work.
                            </p>
                            <br>
                    <h2 class="mb-30">What is a ReproHack</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9 mt-sm-20">
                            <h4>Hands-on Reproducibility Hackathon</h4> 
      
                                <h4>Event format:</h4> 
                                <p>During a ReproHack, participants attempt to reproduce published research of their choice from a list of proposed papers with publicly available associated code and data.

                                    Participants get to work with other people’s material in a low pressure environment and record their experiences on a number of key aspects, including reproducibility, transparency and reusability of materials. At the end of the day we regroup, share our experiences and give feedback to the authors.
                                        
                                    It’s imperative to note that ReproHacks are by no means an attempt to criticise or discredit work. We see reproduction as beneficial scientific activity in itself, with useful outcomes for authors and valuable learning experiences for the participants and the research community as a whole.
                                </p>
                        </div>
                    </div>
                </div>
    <div class="section-top-border">
            <h2 class="mb-30">Ways to participate</h2>
            <div class="row">
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h3 class="card-title">Propose a paper</h3>
                                  <h6 class="card-subtitle mb-2 text-muted">You’ve put a lot of effort into making your work reproducible. Now let people learn from and engage with it!</h6>
                                  <p class="card-text">
                                      <h4>Benefits to authors:</h4>
                                      <ul class="unordered-list">
                                          <li>Feedback on the reproducibility of your work.</li>
                                          <li>Appreciation for your efforts in making your work reproducible.</li>
                                          <li>Opportunity to engage others with your research.</li>
                                      </ul>
                                  </p>
                                  <a href="{% url 'paper_new' %}" class="boxed_btn">Submit paper!</a>
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h3 class="card-title">Reproduce</h3>
                                  <h6 class="card-subtitle mb-2 text-muted">Join a ReproHack and get working with other people’s material!</h6>
                                  <p class="card-text">
                                      <h4>Benefits to participants:</h4>
                                      <ul class="unordered-list">
                                          <li>Practical experience in reproducibility with real published materials</li>
                                          <li>Opportunity to explore different tools and strategies.</li>
                                          <li>Opportunity to for meaningful contribution.</li>
                                          <li>Inspiration to work more openly.</li>
                                      </ul>
                                  </p>
                                  <a href="{% url 'event_list' %}" class="boxed_btn">Join an event!</a>
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h3 class="card-title">Organise an event</h3>
                                  <h6 class="card-subtitle mb-2 text-muted">Help create a practical learning space</h6>
                                  <p class="card-text">
                                      <h4>Benefits to community:</h4>
                                      <ul class="unordered-list">
                                            <li>Help build capacity in reproducibility throughout the research community.</li>
                                            <li>Highlight community value of reproducibility beyond validation of results.</li>
                                            <li>Help community evaluate how successful current practices are and for what purpose.</li>
                                            <li>Help identify what works and where the most pressing weaknesses in our approaches are’.</li>   
                                      </ul>
                                  </p>
                                  <a href="{% url 'event_new' %}" class="boxed_btn">Submit an event!</a>
                                </div>
                              </div>
                </div>
                <div class="section-top-border"></div>
                <h2 class="mb-30">Many Ways to ReproHack</h2>
                <div class="row">
                
                        <img src="{% static 'reprohack/images/workflow.png' %}" alt="">
                </div>
                <div>
                    {% leaflet_map "yourmap" %}
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}
